<!DOCTYPE web-app PUBLIC
 "-//Sun Microsystems, Inc.//DTD Web Application 2.3//EN"
 "http://java.sun.com/dtd/web-app_2_3.dtd" >

<web-app>
  <display-name>Archetype Created Web Application</display-name>
  <welcome-file-list>
  	<welcome-file>Home.html</welcome-file>
  </welcome-file-list>
  <servlet>
  	<servlet-name>Welcome</servlet-name>
  	<display-name>Welcome</display-name>
  	<description></description>
  	<servlet-class>com.reavture.traning.controller.Welcome</servlet-class>
  </servlet>
  <servlet>
  	<servlet-name>AuthenticateUser</servlet-name>
  	<display-name>AuthenticateUser</display-name>
  	<description></description>
  	<servlet-class>com.reavture.traning.controller.AuthenticateUser</servlet-class>
  </servlet>
  <servlet>
  	<servlet-name>ProductController</servlet-name>
  	<display-name>ProductController</display-name>
  	<description></description>
  	<servlet-class>com.reavture.traning.controller.ProductController</servlet-class>
  </servlet>
  <servlet>
  	<servlet-name>ErrorHandlerController</servlet-name>
  	<display-name>ErrorHandlerController</display-name>
  	<description></description>
  	<servlet-class>com.reavture.traning.controller.exceptions.ErrorHandlerController</servlet-class>
  </servlet>
  <servlet>
  	<servlet-name>CustomerController</servlet-name>
  	<display-name>CustomerController</display-name>
  	<description></description>
  	<servlet-class>com.reavture.traning.controller.CustomerController</servlet-class>
  </servlet>
  <servlet>
  	<servlet-name>PrintCustomerController</servlet-name>
  	<display-name>PrintCustomerController</display-name>
  	<description></description>
  	<servlet-class>com.reavture.traning.controller.PrintCustomerController</servlet-class>
  </servlet>
  <servlet>
  	<servlet-name>EmployeeController</servlet-name>
  	<display-name>EmployeeController</display-name>
  	<description></description>
  	<servlet-class>com.reavture.traning.controller.EmployeeController</servlet-class>
  </servlet>
  <servlet>
  	<servlet-name>FindCustomerController</servlet-name>
  	<display-name>FindCustomerController</display-name>
  	<description></description>
  	<servlet-class>com.reavture.traning.controller.FindCustomerController</servlet-class>
  </servlet>
  <servlet>
  	<servlet-name>DeleteCustomerController</servlet-name>
  	<display-name>DeleteCustomerController</display-name>
  	<description></description>
  	<servlet-class>com.reavture.traning.controller.DeleteCustomerController</servlet-class>
  </servlet>
  <servlet>
  	<servlet-name>PrintEmployeeController</servlet-name>
  	<display-name>PrintEmployeeController</display-name>
  	<description></description>
  	<servlet-class>com.reavture.traning.controller.PrintEmployeeController</servlet-class>
  </servlet>
  <servlet>
  	<servlet-name>DeleteEmployeeController</servlet-name>
  	<display-name>DeleteEmployeeController</display-name>
  	<description></description>
  	<servlet-class>com.reavture.traning.controller.DeleteEmployeeController</servlet-class>
  </servlet>
  <servlet>
  	<servlet-name>UpdateCustomerController</servlet-name>
  	<display-name>UpdateCustomerController</display-name>
  	<description></description>
  	<servlet-class>com.reavture.traning.controller.UpdateCustomerController</servlet-class>
  </servlet>
  <servlet>
  	<servlet-name>ViewBalanceController</servlet-name>
  	<display-name>ViewBalanceController</display-name>
  	<description></description>
  	<servlet-class>com.reavture.traning.controller.ViewBalanceController</servlet-class>
  </servlet>
  <servlet>
  	<servlet-name>DepositMoneyController</servlet-name>
  	<display-name>DepositMoneyController</display-name>
  	<description></description>
  	<servlet-class>com.reavture.traning.controller.DepositMoneyController</servlet-class>
  </servlet>
  <servlet>
  	<servlet-name>WithdrawMoneyController</servlet-name>
  	<display-name>WithdrawMoneyController</display-name>
  	<description></description>
  	<servlet-class>com.reavture.traning.controller.WithdrawMoneyController</servlet-class>
  </servlet>
  <servlet>
  	<servlet-name>TransferMoneyController</servlet-name>
  	<display-name>TransferMoneyController</display-name>
  	<description></description>
  	<servlet-class>com.reavture.traning.controller.TransferMoneyController</servlet-class>
  </servlet>
  <servlet>
  	<servlet-name>DepositMoneyAnotherController</servlet-name>
  	<display-name>DepositMoneyAnotherController</display-name>
  	<description></description>
  	<servlet-class>com.reavture.traning.controller.DepositMoneyAnotherController</servlet-class>
  </servlet>
  <servlet>
  	<servlet-name>AuthenticateEmployee2</servlet-name>
  	<display-name>AuthenticateEmployee2</display-name>
  	<description></description>
  	<servlet-class>com.reavture.traning.controller.AuthenticateEmployee2</servlet-class>
  </servlet>
  <servlet>
  	<servlet-name>ViewMyAccount</servlet-name>
  	<display-name>ViewMyAccount</display-name>
  	<description></description>
  	<servlet-class>com.reavture.traning.controller.ViewMyAccount</servlet-class>
  </servlet>
  <servlet>
  	<servlet-name>UpdateCustomerController2</servlet-name>
  	<display-name>UpdateCustomerController2</display-name>
  	<description></description>
  	<servlet-class>com.reavture.traning.controller.UpdateCustomerController2</servlet-class>
  </servlet>
  <servlet>
  	<servlet-name>FindEmployeeController</servlet-name>
  	<display-name>FindEmployeeController</display-name>
  	<description></description>
  	<servlet-class>com.reavture.traning.controller.FindEmployeeController</servlet-class>
  </servlet>
  <servlet>
  	<servlet-name>ViewMyEmployeeAccount</servlet-name>
  	<display-name>ViewMyEmployeeAccount</display-name>
  	<description></description>
  	<servlet-class>com.reavture.traning.controller.ViewMyEmployeeAccount</servlet-class>
  </servlet>
  <servlet>
  	<servlet-name>UpdateEmployeeControllerv</servlet-name>
  	<display-name>UpdateEmployeeControllerv</display-name>
  	<description></description>
  	<servlet-class>com.reavture.traning.controller.UpdateEmployeeControllerv</servlet-class>
  </servlet>
  <servlet-mapping>
  	<servlet-name>Welcome</servlet-name>
  	<url-pattern>/Welcome</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
  	<servlet-name>AuthenticateUser</servlet-name>
  	<url-pattern>/AuthenticateUser</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
  	<servlet-name>ProductController</servlet-name>
  	<url-pattern>/ProductController</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
  	<servlet-name>ErrorHandlerController</servlet-name>
  	<url-pattern>/ErrorHandlerController</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
  	<servlet-name>CustomerController</servlet-name>
  	<url-pattern>/CustomerController</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
  	<servlet-name>PrintCustomerController</servlet-name>
  	<url-pattern>/PrintCustomerController</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
  	<servlet-name>EmployeeController</servlet-name>
  	<url-pattern>/EmployeeController</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
  	<servlet-name>FindCustomerController</servlet-name>
  	<url-pattern>/FindCustomerController</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
  	<servlet-name>DeleteCustomerController</servlet-name>
  	<url-pattern>/DeleteCustomerController</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
  	<servlet-name>PrintEmployeeController</servlet-name>
  	<url-pattern>/PrintEmployeeController</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
  	<servlet-name>DeleteEmployeeController</servlet-name>
  	<url-pattern>/DeleteEmployeeController</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
  	<servlet-name>UpdateCustomerController</servlet-name>
  	<url-pattern>/UpdateCustomerController</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
  	<servlet-name>ViewBalanceController</servlet-name>
  	<url-pattern>/ViewBalanceController</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
  	<servlet-name>DepositMoneyController</servlet-name>
  	<url-pattern>/DepositMoneyController</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
  	<servlet-name>WithdrawMoneyController</servlet-name>
  	<url-pattern>/WithdrawMoneyController</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
  	<servlet-name>TransferMoneyController</servlet-name>
  	<url-pattern>/TransferMoneyController</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
  	<servlet-name>DepositMoneyAnotherController</servlet-name>
  	<url-pattern>/DepositMoneyAnotherController</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
  	<servlet-name>AuthenticateEmployee2</servlet-name>
  	<url-pattern>/AuthenticateEmployee2</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
  	<servlet-name>ViewMyAccount</servlet-name>
  	<url-pattern>/ViewMyAccount</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
  	<servlet-name>UpdateCustomerController2</servlet-name>
  	<url-pattern>/UpdateCustomerController2</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
  	<servlet-name>FindEmployeeController</servlet-name>
  	<url-pattern>/FindEmployeeController</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
  	<servlet-name>ViewMyEmployeeAccount</servlet-name>
  	<url-pattern>/ViewMyEmployeeAccount</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
  	<servlet-name>UpdateEmployeeControllerv</servlet-name>
  	<url-pattern>/UpdateEmployeeControllerv</url-pattern>
  </servlet-mapping>
  <error-page>
		<error-code>404</error-code>
		<location>/ErrorHandlerController</location>
	</error-page>

<error-page>
		<error-code>405</error-code>
		<location>/ErrorHandlerController</location>
	</error-page>
	
	<error-page>
		<exception-type>javax.servlet.ServletException</exception-type>
		<location>/ErrorHandlerController</location>
	</error-page>

<error-page>
		<exception-type>java.lang.NumberFormatException</exception-type>
		<location>/ErrorHandlerController</location>
	</error-page>
	
	<error-page>
		<exception-type>java.lang.NullPointerException</exception-type>
		<location>/ErrorHandlerController</location>
	</error-page>
</web-app>
